@{
    ViewBag.Title = "Create";
}



<form action="@Url.Action("Create")" method="post" enctype="multipart/form-data">
    <input type="hidden" id="Meal.id" name="Meal.id" required="required" readonly="readonly" class="form-control" />
    <p>Name</p>
    <input type="text" id="Meal.Name" name="Meal.Name" required="required" class="form-control mt-3" />
    <p>Price</p>
    <input type="number" id="Meal.Price" name="Meal.Price" required="required" class="form-control" />
    <p>Image</p>
    <input type="file" name="mealImg" required="required" class="form-control" />
    <input type="submit" value="confirm" class="btn btn-danger mt-3 " />
</form>