@{
    ViewData["Title"] = "Home";
}

<div class="row justify-content-center">
    <img class="header" style="background-image: url(https://images.unsplash.com/photo-1421789665209-c9b2a435e3dc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);" />
    <h5 class="mt-5">We have the best meal management system and the most branches in the world, waiting for you to experience our services.</h5>
</div>
