@model IEnumerable<yungchingTest.Models.Meal>

@{
    ViewBag.Title = "Update";
}



<div class="row justify-content-center">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mt-3">
            <div class="thumbnail">
                <img src="~/image/@item.Img" style="width:200px;height:270px;">
                <div class="caption">
                    <form action="@Url.Action("Update")" method="post">
                        <input type="hidden" id="Meal.id" name="Meal.id" required="required" readonly="readonly" class="form-control" value="@item.Id" />
                        <p class="mt-3">Name：@item.Name</p>
                        <input type="text" id="Meal.Name" name="Meal.Name" required="required" class="form-control mt-3" value="@item.Name" />
                        <p class="mt-3">Price：@item.Price</p>
                        <input type="text" id="Meal.Price" name="Meal.Price" required="required" class="form-control" value="@item.Price" />
                        <input type="submit" value="confirm" class="btn btn-danger mt-3 " />
                    </form>
                </div>
            </div>
        </div>
    }
</div>

